:root {
  --margin: 0;
}

body {
  background-color: antiquewhite;
}

.discription-container {
  list-style: none;
  width: 23%;
  background-color: white;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
}

.img-container {
  margin: var(--margin);
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 100%;
}

.img-discription {
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  width: 23%;
}

.text-discription {
  margin: var(--margin);
  margin-left: 5%;
  margin-top: 15%;
  margin-right: 5%;
  font-size: 130%;
}

.product-name {
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
}

.font-family {
  margin: var(--margin);
  margin-right: 30%;
  font-family: "Fraunces", serif;
}

.product-discription {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
}

.price {
  font-size: 20px;
  font-family: "Fraunces", serif;
  margin-top: 12%;
  margin-left: 5%;
}

.percentage {
  width: 15%;
}

.button-container {
  width: 80%;
  background-color: darkgreen;
  border-radius: 3%;
  border-style: none;
  color: white;
  margin-bottom: 5%;
  margin-left: 7%;
}

.price-container {
  color: darkgreen;
  font-size: 30px;
}

.product-price {
  font-family: "Fraunces", serif;
  margin: var(--margin);
  display: flex;
}

.flex {
  display: flex;
  justify-content: center;
}

.font {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}
